# Project exclude paths
/greedy/Activity_Selection/Activity_Selection_Greedy.js
/greedy/Activity_Selection/Activity_Selection_Greedy.js.map
/greedy/Knapsack/Knapsack_Greedy.js
/greedy/Knapsack/Knapsack_Greedy.js.map